= "お名前: #{reservation.name} 様"
= "E-mail: #{reservation.email}"
= "TEL: #{reservation.tel}"
= "チェックイン日: #{reservation.check_in_on}"
= "チェックアウト日: #{reservation.check_out_on}"
= "男性: #{reservation.men_number}"
= "女性: #{reservation.women_number}"
= "到着予定時間: #{reservation.check_in_time}"
= "支払い方法: #{reservation.payment_method}"
= "クーポンコード: #{reservation.coupon}"
= "メッセージ: #{reservation.note}"