- model_class = Yado
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @yado.name
%p
  %strong= model_class.human_attribute_name(:short_name) + ':'
  %br
  = @yado.short_name

= link_to '予約', yado_reservations_path(@yado), :class => 'btn btn-default'
= link_to t('.back', :default => t("helpers.links.back")), yados_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_yado_path(@yado), :class => 'btn btn-default'
