= form_for @schedule do |f|
  - if @schedule.errors.any?
    #error_explanation
      %h2= "#{pluralize(@schedule.errors.count, "error")} prohibited this schedule from being saved:"
      %ul
        - @schedule.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :reservation_id
    = f.number_field :reservation_id
  .field
    = f.label :schedule_type
    = f.text_field :schedule_type
  .field
    = f.label :started_on
    = f.date_select :started_on
  .field
    = f.label :finished_on
    = f.date_select :finished_on
  .actions
    = f.submit 'Save'
