= form_for @schedule, html: { class: "form form-horizontal schedule" } do |f|
  .form-group
    = f.label :reservation_id, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :reservation_id, class: 'form-control', required: true
    = f.error_span(:reservation_id)
  .form-group
    = f.label :schedule_type, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :schedule_type, class: 'form-control', required: true
    = f.error_span(:schedule_type)
  .form-group
    = f.label :note, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :note, class: 'form-control', required: true
    = f.error_span(:note)
  .form-group
    = f.label :started_on, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :started_on, class: 'form-control', required: true
    = f.error_span(:started_on)
  .form-group
    = f.label :finished_on, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :finished_on, class: 'form-control', required: true
    = f.error_span(:finished_on)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), schedules_path, :class => 'btn btn-default'
