%p#notice= notice

%p
  %b Reservation:
  = @schedule.reservation_id
%p
  %b Schedule type:
  = @schedule.schedule_type
%p
  %b Started at:
  = @schedule.started_on
%p
  %b Finished at:
  = @schedule.finished_on

= link_to 'Edit', edit_schedule_path(@schedule)
\|
= link_to 'Back', schedules_path
