= form_for [@yado, @reservation], html: { class: "form form-horizontal reservation" } do |f|
  .form-group
    = f.label :name, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :name, class: 'form-control', required: true
    = f.error_span(:name)
  .form-group
    = f.label :email, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :email, class: 'form-control', required: true
    = f.error_span(:email)
  .form-group
    = f.label :tel, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :tel, class: 'form-control', required: true
    = f.error_span(:tel)
  .form-group
    = f.label :check_in_on, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :check_in_on, class: 'form-control', required: true
    = f.error_span(:check_in_on)
  .form-group
    = f.label :check_out_on, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :check_out_on, class: 'form-control', required: true
    = f.error_span(:check_out_on)
  .form-group
    = f.label :check_in_time, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :check_in_time, class: 'form-control', required: true
    = f.error_span(:check_in_time)
  .form-group
    = f.label :men_number, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :men_number, class: 'form-control', required: true
    = f.error_span(:men_number)
  .form-group
    = f.label :women_number, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :women_number, class: 'form-control', required: true
    = f.error_span(:women_number)
  .form-group
    = f.label :purpose_of_use, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :purpose_of_use, class: 'form-control', required: true
    = f.error_span(:purpose_of_use)
  .form-group
    = f.label :payment_method, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :payment_method, class: 'form-control', required: true
    = f.error_span(:payment_method)
  .form-group
    = f.label :coupon, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :coupon, class: 'form-control', required: true
    = f.error_span(:coupon)
  .form-group
    = f.label :note, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :note, class: 'form-control', required: true
    = f.error_span(:note)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), yado_reservations_path(@yado), :class => 'btn btn-default'
