- model_class = Reservation
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:email)
      %th= model_class.human_attribute_name(:check_in_on)
      %th= model_class.human_attribute_name(:check_out_on)
      %th= model_class.human_attribute_name(:check_in_time)
      %th 男/女
      %th= model_class.human_attribute_name(:note)
      %th= model_class.human_attribute_name(:status)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @reservations.each do |reservation|
      %tr
        %td= reservation.name
        %td= reservation.email
        %td= reservation.check_in_on
        %td= reservation.check_out_on
        %td= reservation.check_in_time
        %td= "#{reservation.men_number}/#{reservation.women_number}"
        %td= reservation.note
        %td= reservation.status
        %td=l reservation.created_at
        %td
          = link_to t('.show', :default => t("helpers.links.show")), yado_reservation_path(@yado, reservation), :class => 'btn btn-default btn-xs'
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_yado_reservation_path(@yado, reservation), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), yado_reservation_path(@yado, reservation), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_yado_reservation_path(@yado), :class => 'btn btn-primary'
